<!DOCTYPE html>
<html>
<head>
    <title>Temperature</title>

</head>

<body>
<h1>Add Temperature</h1>
<form id="temper_form" action="" method="post">{% csrf_token %}
{#<form id="category_form" method="post" action="/weather/temper_form/">#}

 <!--<form action="/action_page.html"> !-->

{#  <fieldset>#}
{#    <legend>Weather information:</legend>#}
{#    Date:<br>#}
{#    <input type="datetime" name="date" value=""><br>#}
{#    Sensor1 Temperature:<br>#}
{#    <input type="text" name="lastname" value=""><br><br>#}
{#      Sensor2 Temperature:<br>#}
{#    <input type="text" name="lastname" value=""><br><br>#}
{#      Sensor3 Temperature:<br>#}
{#    <input type="text" name="lastname" value=""><br><br>#}
{#      Sensor4 Temperature:<br>#}
{#    <input type="text" name="lastname" value=""><br><br>#}
{#    <input type="submit" value="Input Temperature">#}
{#  </fieldset>#}

    {{ form.as_p }}


    <input type="submit" value="Input Temperature" />
</form>

</body>

</html>
